@import "tailwindcss";



@layer utilities {

  /* Hide scrollbar buttons (arrows) for Chrome, Safari, and Opera */
  ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar {
  scrollbar-color: #fff transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;

}
*::selection{
  background-color: #ffffff91;
  color: #000;
}
@theme {
  /* Define the animation name and duration */
  --animate-marquee: marquee 40s linear infinite;

  /* Define the keyframes */
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-33.33%);
    }
  }
}